<article class="entry">
    <h2><a href="/<%= entry.id %>/<%= entry.title %>"><%= entry.title %></a></h2>
    <%= autotitle(RedCloth.new(entry.body).to_html) %>
    <div>From <%= entry.author %></div>
    <% if isAdmin? %>
        <form action="/<%= entry.id %>/editEntry" method="GET">
            <button type="submit">edit</button>
        </form>
        <form action="/<%= entry.id %>/deleteEntry" method="POST">
            <button type="submit">delete</button>
        </form>
    <% end %>
</article >