
<ul>
    <% friends.each do |friend| %>
        <li><a href="<%= friend.url %>"><%= friend.name %></a></li>
    <% end %>
</ul>

<a href="<%= friendManagerUrl %>addFriend?name=<%= blogOwner %>&amp;url=<%=u 'http://' + request.host_with_port %>">add me as Friend!</a>