<!DOCTYPE html>
<html>
    <head>
        <%= erb :head %>
        <title><%= blogTitle%></title>
        <link rel="alternate"  type="application/rss+xml" href="/feed" />
        <meta name="description" content="">
    </head>

    <body>
        <div id="friendWidget">
            <% if isAdmin? %>
                <aside id="welcome">Welcome, <%= authorized_email %> (<a href="/logout">Logout</a>)</aside>
            <% else %>
                <%= render_login_button %>
            <% end %>
            <%= erb :friends, :locals => {:friends => friends} %>
        </div>
        
        <%= erb :header, :locals => {:blogTitle => blogTitle} %>
        
        <% if isAdmin? && (page.to_i == 0 || page.to_i == totalPages) %>
            <%= erb :editor, :locals => {:entry => nil} %>
        <% end %>

        <h2>Entries</h2>
        <% entries.each do |entry| %>
            <%= erb :entry, :locals => {:entry => entry} %>
        <% end %>

        <nav id="browser">
            <% if page.to_i != 1 && page.to_i != 0 %>
                <a id="browsePrior" href="/archive/<%= (page.to_i - 1) %>">prior</a>
            <% end %>
            <% if page.to_i != totalPages %>
                <a id="browseNext" href="/archive/<%= (page.to_i + 1) %>">next</a>
            <% end %>  
        </nav>

    </body>
</html>