<%# -*- encoding : utf-8 -*- %>
<form class="commentForm" <%= 'id=commentForm' if comment == nil %> action="<%= url_for "/#{entry.id}/addComment" %>" method="POST">
    <% if comment != nil %>
        <input type="hidden" name="id" value="<%= comment.id %>"/>
    <% end %>
    <input type="hidden" name="replyToComment" value="<%= comment.replyToComment if comment != nil %>"/>
        
    <input name="name" value="<%= (comment.author.name if comment != nil) or blogOwner if isAdmin? %>" placeholder="Name" />
    <div class="commentFormMail"><input name="mail" type="email" value="<%= (comment.author.mail if comment != nil) or authorized_email  %>" placeholder="Email" /><label class="container" id="subscribe"><input type="checkbox" name="subscribe" checked /><span>Subscribe</span> <% if isAdmin? %>
        <a href="/setOption/fromMail" class="adminAction"><button class="edit" title="edit">&#9998;</button></a>
    <% end %></label></div>
    <input class="commentFormUrl" name="url" type="url" value="<%= comment.author.url if comment != nil %>" placeholder="Homepage" />
    <input class="commentFormTel" name="tel" type="text" value="" placeholder="do you really want that?" />
    
    <label><textarea name="body" required class="commentInput"><%= comment.body if comment != nil %></textarea></label>

    <button type="submit" class="commentFormSubmit">Comment</button>
</form>