<%# -*- encoding : utf-8 -*- %>
<article class="comment container" id="c<%= comment.id %>" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
    <% if comment.type == 'trackback' && comment.body == "" %>
        <div class="commentBody">Pingback: <a href="<%= comment.author.url %>"><%= comment.author.name %></a></div>
    <% else %>
        <% if comment.author.mail %>
            <img class="avatar" src="<%= comment.avatar %>" />
        <% end %>
        <div class="commentBody" itemprop="commentText">
            <%= comment.format %><%='...' if comment.type == 'trackback' %>
        </div>
        <footer>
            <% if comment.author.url != "" %>
                <a href="<%= comment.author.url %>" itemprop="creator"><%= comment.author.name %></a>
            <% else %>
                <span itemprop="creator"><%= comment.author.name %></span>
            <% end %>
            <% if comment.author.mail != "" && isAdmin? %>
                (<a href="mailto:<%= comment.author.mail %>"><%= comment.author.mail %></a>)
            <% end %>,
            <time itemprop="datePublished" datetime="<%= Time.parse(comment.date).iso8601 %>"><%= Time.parse(comment.date).strftime("%d.%m.%Y") %></time>
        </footer>
    <% end %>
    
    <div class="adminOptions">
        <% if isAdmin? %>
            <% if comment.status != "approved" %>
                <form action="<%= url "/#{comment.id}/ham" %>" method="POST">
                    <button type="submit" class="ham" title="accept comment">&#10003;</button>
                </form>
                <form action="/<%= url "/#{comment.id}/deleteComment" %>" method="POST">
                    <button type="submit" class="delete" title="delete comment">&#10005;</button>
                </form>
            <% else %>
                <a href="<%= url "/#{comment.id}/editComment" %>"><button type="submit" class="edit" title="edit">&#9998;</button></a>
                <form action="<%= url "/#{comment.id}/deleteComment" %>" method="POST">
                    <button type="submit" class="delete" title="delete comment">&#10005;</button>
                </form>
            <% end %>
            <form action="<%= url "/#{comment.id}/spam" %>" method="POST">
                <button type="submit" class="spam" title="mark comment as spam">spam</button>
            </form>
        <% end %>
    </div>
    
</article>
