<%# -*- encoding : utf-8 -*- %>
<?xml version="1.0" encoding="utf-8" ?>

<rss version="2.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
   >
    <channel>
        <title>Comments</title>
        <link><%= url_for '/', :full %>></link>
        <description></description>
        <generator>Blog</generator>
        <atom:link href="<%= url_for '/commentFeed', :full %>" rel="self" type="application/rss+xml" />

        <% comments.each do |comment| %>
            <item>
                <title><%= comment.author.name %>: <%= comment.body[/[^ ]*/] %><%= "..." if comment.body.count(" ") > 1 %></title>
               <link><%= url comment.entry.link %></link>

                <% if ! comment.body.empty? %>
                    <content:encoded>
                        <%= h comment.body %>
                    </content:encoded>
                <% end %>
                <guid><%= comment.id %></guid>

                <pubDate><%= Time.parse(comment.date).rfc2822 %></pubDate>
            </item>
        <% end %>

    </channel>
</rss>
