<article class="comment container" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
    <% if comment.type == 'trackback' && comment.body == "" %>
        <div class="commentBody">Pingback: <a href="<%= comment.author.url %>"><%= comment.author.name %></a></div>
    <% else %>
        <% if comment.author.mail %>
            <img class="avatar" src="<%= comment.avatar %>" />
        <% end %>
        <div class="commentBody">
            <%= htmlentities(comment.body) %><%='...' if comment.type == 'trackback' %>
        </div>
        <footer>From
            <% if comment.author.url != "" %>
                <a href="<%= comment.author.url %>"><%= comment.author.name %></a>
            <% else %>
                <%= comment.author.name %>
            <% end %>
            , <%= comment.status %>
        </footer>
    <% end %>
    <% if isAdmin? %>
        <div class="adminOptions">
            <% if comment.status != "approved" %>
                <form action="/<%= comment.id %>/ham" method="POST">
                    <button type="submit" title="accept comment">&#10003;</button>
                </form>
                <form action="/<%= comment.id %>/deleteComment" method="POST">
                    <button type="submit" class="delete" title="delete comment">&#10005;</button>
                </form>
            <% end %>
            
            <a href="/<%= comment.id %>/editComment"><button type="submit" class="edit" title="edit">&#9998;</button></a>
            <% if comment.status == "approved" %>
                <form action="/<%= comment.id %>/deleteComment" method="POST">
                    <button type="submit" class="delete" title="delete comment">&#10005;</button>
                </form>
            <% end %>

            <div class="adminOptionsMore">
                <span class="adminOptionsMoreSign">&#9662;</span>
                <ul class="adminOptionsMoreOptions">
                    <li>
                        <form action="/<%= comment.id %>/ham" method="POST" class="adminMoreOption">
                            <button type="submit" title="mark comment as a valid" class="adminMoreOption">ham</button>
                        </form>
                    </li>
                    <li>
                        <form action="/<%= comment.id %>/spam" method="POST" class="adminMoreOption">
                            <button type="submit" title="mark comment as spam" class="adminMoreOption">spam</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        
        
        
    <% end %>
</article>