<%# -*- encoding : utf-8 -*- %>
<header>
    <h2 class="entryTitle"><a href="<%= url_for entry.link %>" itemprop="headline"><%= entry.title %></a></h2>
</header>
<div itemprop="articleBody"><%= autotitle(entry.format) %></div>
<footer>
    <span itemprop="creator"><%= entry.author %></span>, 
    <time itemprop="datePublished" datetime="<%= Time.parse(entry.date).iso8601 %>"><%= Time.parse(entry.date).strftime("%d.%m.%Y") %></time>
    <span itemprop="keywords" class="tags"><%= entry.tags.map { |tag| '<a href="/archive/1/' + tag + '">'+ tag + '</a>' }.join(" ") if entry.tags != nil %></span>
    <% if isAdmin? %>
        <div class="adminOptions">
            <a href="/<%= entry.id %>/editEntry"><button type="button" class="edit adminAction" title="edit">&#9998;</button></a>
            <form action="/<%= entry.id %>/deleteEntry" method="POST" data-entryid="<%= entry.id %>">
                <button type="submit" class="delete adminAction" title="delete">&#10005;</button>
            </form>
        </div>
    <% end %>
</footer>
