<?xml version="1.0" encoding="utf-8" ?>

<rss version="2.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
   >
    <channel>
        <title>Blog</title>
        <link>http://<%= request.host_with_port %></link>
        <description></description>
        <generator>Blog</generator>
        <atom:link href="http://<%= request.host_with_port %>/feed" rel="self" type="application/rss+xml" />

        <% entries.each do |entry| %>
            <item>
                <title><%= entry.title %></title>
                <link>http://<%= request.host_with_port %>/<%= entry.id %>/<%= h entry.title %></link>

                <comments>http://<%= request.host_with_port %>/<%= entry.id %>/<%= h entry.title %>#comments</comments>   

                <% if ! entry.body.empty? %>
                    <content:encoded>
                        <%= h entry.body %>
                    </content:encoded>
                <% end %>
                <guid><%= entry.id %></guid>

                <pubDate><%= Time.parse(entry.date).rfc2822 %></pubDate>
            </item>
        <% end %>

    </channel>
</rss>
