<%# -*- encoding : utf-8 -*- %>
<% if friends.length > 0 %>
    <ul>
        <% friends.each do |friend| %>
            <li><a href="<%= friend.url %>"><%= friend.name %></a></li>
        <% end %>
    </ul>
<% end %>
<% if ! isAdmin? %>
    <br %>
    <a href="<%= friendManagerUrl %>addFriend?name=<%= blogOwner %>&amp;url=<%=u 'http://' + request.host_with_port %>">add <%= blogOwner %> as Friend!</a>
<% end %>