<%# -*- encoding : utf-8 -*- %>
<header id="title" class="container" role="banner">
    <h1><a href="<%= url_for '/' %>"><%= blogTitle %></a></h1>
    <% if isAdmin? %>
        <a href="<%= url_for '/setOption/blogTitle' %>" class="adminAction"><button class="edit" title="edit">&#9998;</button></a>
    <% end %>
    <aside id="widget">
            <% if isAdmin? %>
                <div id="welcome">Welcome <%= authorized_email %> <form id="logout" action="<%= url_for '/logout' %>" method="POST"><button type="submit">Logout</button></form></div>
                <%= erb :designs, :locals => {:design => design, :designs => designs} %>
            <% else %>
                <script src="<%= settings.browserid_url %>/include.js" type="text/javascript"></script>
                <script type="text/javascript">
                    function _browserid_login() {
                        navigator.id.getVerifiedEmail(function(assertion) {
                        if (assertion) {
                            document.forms._browserid_assert.assertion.value = assertion;
                            document.forms._browserid_assert.submit();
                        } else {
                            // TODO: handle failure case?
                            console.log("browserid login failure");
                        }
                        });
                    }
                </script>
                <form name="_browserid_assert" action="<%= url_for '/_browserid_assert' %>" method="post">
                    <input type="hidden" name="redirect" value="<%= request.url %>">
                    <input type="hidden" name="assertion" value="">
                </form>
                <a href="#"><img src="<%= url_for '/img/browserid.png' %>" id="browserid_login_button" border=0 onClick="_browserid_login()" /></a>
            <% end %>
        </aside>
</header>
<nav></nav>