<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head, :locals => {:tag => tag}%>
        <title><%= blogTitle %></title>
        <meta name="description" content="">
    </head>

    <body>
        
        <aside id="widget">
            <% if isAdmin? %>
                <div id="welcome">Welcome <%= authorized_email %> <form id="logout" action="<%= url_for '/logout' %>" method="POST"><button type="submit">Logout</button></form></div>
                <%= erb :designs, :locals => {:design => design, :designs => designs} %>
            <% else %>
                <script src="<%= settings.browserid_url %>/include.js" type="text/javascript"></script>
                <script type="text/javascript">
                    function _browserid_login() {
                        navigator.id.getVerifiedEmail(function(assertion) {
                        if (assertion) {
                            document.forms._browserid_assert.assertion.value = assertion;
                            document.forms._browserid_assert.submit();
                        } else {
                            // TODO: handle failure case?
                            console.log("browserid login failure");
                        }
                        });
                    }
                </script>
                <form name="_browserid_assert" action="<%= url_for '/_browserid_assert' %>" method="post">
                    <input type="hidden" name="redirect" value="<%= request.url %>">
                    <input type="hidden" name="assertion" value="">
                </form>
                <a href="#"><img src="<%= url_for '/img/browserid.png' %>" id="browserid_login_button" border=0 onClick="_browserid_login()" /></a>
            <% end %>
        </aside>

        <main itemscope itemtype="http://schema.org/Blog">
        
            <%= erb :header, :locals => {:blogTitle => blogTitle} %>
            
            <% if isAdmin? && (page.to_i == 0 || page.to_i == totalPages) && tag == nil %>
                <%= erb :editor, :locals => {:entry => nil} %>
                <datalist id="tags">
                    <%= allTags.map { |tag| '<option value="' + tag + '">'}.join(" ") %>
                </datalist>
            <% end %>

            <% entries.each do |entry| %>
                <article class="entry container" id="e<%= entry.id %>" itemscope itemtype="http://schema.org/BlogPosting">
                    <%= erb :entry, :locals => {:entry => entry} %>
                </article>
            <% end %>

            <nav id="browser">
                <% if page.to_i > 1 %>
                    <a id="browsePrior" rel="prev" href="<%= url_for '/archive/' + (page.to_i - 1).to_s %>/<%= tag %>">older</a>
                <% end %>
                <% if page.to_i != totalPages %>
                    <a id="browseNext" rel="next" href="<%= url_for '/archive/' + (page.to_i + 1).to_s %>/<%= tag %> ">newer</a>
                <% end %>  
            </nav>
            <footer>
                <%= erb :searchWidget, :locals => {:keyword => "" }%>
            </footer>
        </main>
    </body>
</html>
