<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head, :locals => {:tag => tag}%>
        <title><%= blogTitle %></title>
        <link rel="alternate"  type="application/rss+xml" href="/feed" />
        <meta name="description" content="">
    </head>

    <body>
        
        <aside id="widget">
            <% if isAdmin? %>
                <div id="welcome">Welcome <%= authorized_email %> <form id="logout" action="/logout" method="POST"><button type="submit">Logout</button></form></div>
                <%= erb :designs, :locals => {:design => design, :designs => designs} %>
            <% else %>
                <%= render_login_button %>
            <% end %>
        </aside>

        <div id="content" itemscope itemtype="http://schema.org/Blog">
        
            <%= erb :header, :locals => {:blogTitle => blogTitle} %>
            
            <% if isAdmin? && (page.to_i == 0 || page.to_i == totalPages) && tag == nil %>
                <%= erb :editor, :locals => {:entry => nil} %>
                <datalist id="tags">
                    <%= allTags.map { |tag| '<option value="' + tag + '">'}.join(" ") %>
                </datalist>
            <% end %>

            <% entries.each do |entry| %>
                <article class="entry container" itemscope itemtype="http://schema.org/BlogPosting">
                    <%= erb :entry, :locals => {:entry => entry} %>
                </article>
            <% end %>

            <nav id="browser">
                <% if page.to_i != 1 && page.to_i != 0 %>
                    <a id="browsePrior" rel="prev" href="/archive/<%= (page.to_i - 1)%>/<%= tag %>">older</a>
                <% end %>
                <% if page.to_i != totalPages %>
                    <a id="browseNext" rel="next" href="/archive/<%= (page.to_i + 1)%>/<%= tag %> ">newer</a>
                <% end %>  
            </nav>
            <footer>
                <%= erb :searchWidget, :locals => {:keyword => "" }%>
            </footer>
        </div>
    </body>
</html>