<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head %>
        <title><%= entry.title %> - <%= blogTitle %></title>
        <meta name="description" content="">
        <link rel="trackback" type="application/x-www-form-urlencoded" href="http://<%= request.host_with_port %>/<%= entry.id %>/addTrackback" />
        <link rel="pingback" href="http://<%= request.host_with_port %>/xmlrpc" />
    </head>

    <body>
        <div id="content">
            <%= erb :header, :locals => {:blogTitle => blogTitle} %>

            

            <article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
                <%= erb :entry, :locals => {:entry => entry} %>

                <!--
                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                         xmlns:dc="http://purl.org/dc/elements/1.1/">
                <rdf:Description
                         trackback:ping="http://<%= request.host_with_port %>/<%= entry.id %>/addTrackback"
                         dc:title="<%= entry.title %>"
                         dc:identifier="http://<%= request.host_with_port %>/<%= entry.id %>/<%= h entry.title %>" />
                </rdf:RDF>
                -->

                 <% if isAdmin? %>
                    <form id="entryModerationToggle" action="/<%= entry.id %>/setEntryModeration" method="POST" >
                        <label>Moderate Comments:
                            <input type="checkbox" name="value" <%= "checked" if entry.moderate == 1 || entry.moderate == "on" %>/>
                        </label>
                        <button type="submit" class="save">OK</button>
                    </form>
                <% end %>

                <ol id="comments">
                     <% comments.each do |comment| %>
                        <% if comment.status == "approved" %>
                            <li>
                                <%= erb :comment, :locals => {:comment => comment} %>
                            </li>
                        <% else %>
                            <% if isAdmin? %>
                                <li class="comment_moderate">
                                    <%= erb :comment, :locals => {:comment => comment} %>
                                </li>
                            <% end %>
                        <% end %>
                    <% end %>
                </ol>
            </article>

            <%= erb :commentForm, :locals => {:entry => entry, :comment => nil} %>
        <div id="content">

    </body>
</html>