<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head, :locals => {:tag => nil} %>
        <title><%= entry.title %> - <%= blogTitle %></title>
        <meta name="description" content="">
        <link rel="trackback" type="application/x-www-form-urlencoded" href="<%= url_for "/#{entry.id}/addTrackback", :full %>" />
        <link rel="pingback" href="<%= url_for '/xmlrpc', :full %>" />
        <link rel="canonical" href="<%= url(entry.link.gsub('&', '_'), :full) %>" />
    </head>

    <body>
        <%= erb :header, :locals => {:blogTitle => blogTitle, :design => design, :designs => designs} %>
        <main>

            <article class="entry container" id="e<%= entry.id %>" itemscope itemtype="http://schema.org/BlogPosting">
                <%= erb :entry, :locals => {:entry => entry} %>

                <!--
                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
                         xmlns:dc="http://purl.org/dc/elements/1.1/">
                <rdf:Description
                         trackback:ping="<%= url_for "/#{entry.id}/addTrackback", :full %>"
                         dc:title="<%= entry.title %>"
                         dc:identifier="<%= url_for "/#{entry.id}/", :full %><%= uh entry.title %>" />
                </rdf:RDF>
                -->

                 <% if isAdmin? %>
                    <form id="entryModerationToggle" action="<%= url_for "/#{entry.id}/setEntryModeration" %>" method="POST" >
                        
                        <div>
                        <span>Comments are:</span>
                        <input class="moderationStatus" type="radio" name="moderationStatus" id="moderationStatusOpen" value="open" <%= 'checked="checked"' if entry.moderate == "open" || entry.moderate == nil %> />
                        <label class="moderationStatusLabel" for="moderationStatusOpen">Open</label>
                        <input class="moderationStatus" type="radio" name="moderationStatus" id="moderationStatusModerated" value="moderated" <%= 'checked="checked"' if entry.moderate == "moderated" %> />
                        <label class="moderationStatusLabel" for="moderationStatusModerated">Moderated</label>
                        <input class="moderationStatus" type="radio" name="moderationStatus" id="moderationStatusClosed" value="closed" <%= 'checked="checked"' if entry.moderate == "closed" %> />
                        <label class="moderationStatusLabel" for="moderationStatusClosed">Closed</label>
                        <button type="submit">OK</button>
                        </div>
                    </form>
                <% end %>

                <ol id="comments">
                     <% comments.each do |comment| %>
                        <% if comment.status == "approved" %>
                            <li>
                                <%= erb :comment, :locals => {:comment => comment} %>
                            </li>
                        <% else %>
                            <% if isAdmin? %>
                                <li class="comment_moderate">
                                    <%= erb :comment, :locals => {:comment => comment} %>
                                </li>
                            <% end %>
                        <% end %>
                    <% end %>
                </ol>
            </article>

            <% if entry.moderate != "closed" %>
                <%= erb :commentForm, :locals => {:entry => entry, :comment => nil} %>
            <% end %>
        </main>
    </body>
</html>
