<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head, :locals => {:tag => nil} %>
        <title>search for <%= keyword %> - <%= blogTitle %></title>
        <meta name="description" content="">
    </head>
    <body>
        <main itemscope itemtype="http://schema.org/Blog">
            <%= erb :header, :locals => {:blogTitle => blogTitle, :design => design, :designs => designs} %>
            <section>
            <h2>Searchresults for <%= erb :searchWidget, :locals => {:keyword => keyword }%></h2>
            <ol>
            <% entries.each do |entry| %>
                <li>
                    <article class="entry container" id="e<%= entry.id %>" itemscope itemtype="http://schema.org/BlogPosting">
                        <h3><a href="<%= url_for entry.link %>"><%= entry.title %></a></h3>
                        <div itemprop="articleBody"><%= excerpt(stripHtml(entry.format)) %></div>
                    </article>
                </li>
            <% end %>
            </ol>
            </section>
        </div>
        
    </body>
</html>