<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <%= erb :head, :locals => {:tag => nil}%>
        <title>search for <%= keyword %> - <%= blogTitle %></title>
        <meta name="description" content="">
    </head>
    <body>
        <div id="content">
            <%= erb :header, :locals => {:blogTitle => blogTitle} %>
            <h2>Searchresults for <%= erb :searchWidget, :locals => {:keyword => keyword }%></h2>
            <ol>
            <% entries.each do |entry| %>
                <li>
                    <h3><a href="<%= entry.link(request) %>"><%= entry.title %></a></h3>
                    <div itemprop="articleBody"><%= excerpt(stripHtml(entry.format)) %></div>
                </li>
            <% end %>
            </li>
        </div>
        
    </body>
</html>