<%# -*- encoding : utf-8 -*- %>
<form id="commentForm" action="/<%= entry.id %>/addComment" method="POST">
    <input type="hidden" name="replyToComment" value=""/>
    <% if comment != nil %>
        <input type="hidden" name="id" value="<%= comment.id %>"/>
    <% end %>
    <input type="hidden" name="replyToComment" value="<%= comment.replyToComment if comment != nil %>"/>
        
    <label><span>Name</span><input name="name" required value="<%= comment.author.name if comment != nil %>"></input></label>
    <label><span>Email</span><input name="mail" type="email" value="<%= comment.author.mail if comment != nil %>"></input></label>
    <label><span>Homepage</span><input name="url" type="url" value="<%= comment.author.url if comment != nil %>" /></input></label>

    <label><textarea name="body"><%= comment.body if comment != nil %></textarea></label>


    <label class="container">Notify me for new comments <input type="checkbox" name="subscribe" checked /> <% if isAdmin? %>
        <a href="/setOption/fromMail" class="adminAction"><button class="edit" title="edit">&#9998;</button></a>
    <% end %>
    </label>
    
    
    <button type="submit">comment</button>
</form>