<%# -*- encoding : utf-8 -*- %>
<div class="container">
    <header>
        <h2><a href="<%= entry.link(request) %>"><%= entry.title %></a></h2>
    </header>
    <div itemprop="articleBody"><%= autotitle(RedCloth.new(htmlentities(entry.body).gsub("&quot;", '"')).to_html) %></div>
    <footer>
        <time itemprop="datePublished" datetime="<%= Time.parse(entry.date).iso8601 %>"><%= Time.parse(entry.date).strftime("%d.%m.%Y") %></time>
        <% if isAdmin? %>
            <div class="adminOptions">
                <a href="/<%= entry.id %>/editEntry"><button type="submit" class="edit adminAction" title="edit">&#9998;</button></a>
                <form action="/<%= entry.id %>/deleteEntry" method="POST">
                    <button type="submit" class="delete adminAction" title="delete">&#10005;</button>
                </form>
            </div>
        <% end %>
    </footer>
</div>
